@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    margin: 0;
}
.hdr-cvr{
    width: 100%;
    height:48px ;
    background: #000;
}header #check{
    display: none;
}
header label{
    display: none;
}
.responce-phn{display: none;}
.responce-phn1{display: none;}
header{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 48px;
    background-color: #000;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    opacity: 60%;
}header > ul{
    margin: 0;
    width: 63%;
    height: 100%;
    display: flex;
    align-items:center ;
    justify-content: center;
    justify-content: space-between; 
    flex-wrap: wrap;  
    color: #fff;
}header > ul > li{
    list-style: none;
    font-size: 13px;
}header > ul > a > img{
    width: 20px;
}.bank-info-head{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(19, 18, 18);
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}.blur-bnck{
    height: 100vh;
    width: 100%;
    background: black;
    position: relative;
}.blur-bnck > img{
    width: 100%;
    height: 100vh;
    opacity: 65%;
    position:relative;
}.add-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , 30%);
    text-align: center;
    color: #ffffff;    
}.add-text p{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}.add-text > h1{
    font-family: 'PT Serif', serif;
    font-size: 120px;
    margin-top: -30px;
    letter-spacing: 8px;
    font-weight: 200;
}span{
    display: Inline-block;
}.revers{
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}.add-text .shot-text{
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
    margin-top: -98px;
}.add-text button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 15px;
    border: none;
    font-family: 'Roboto', sans-serif;
    margin-right: 10px;
}.white-spc1{
    width: 100%;
    height: 15px;
    color: #fff;
}.iphon14pro-indro{ 
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    position: relative;    
}.iphon14pro-indro img{
    position: relative;
    width: 50%;
    height: 100%;    
}.i14pro-indro{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%,-140%);
    text-align: center;
    color: #ffffff;
}.i14pro-indro h1{
    margin-top: 130px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}.i14pro-indro h2{
    margin-top: -30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 10px;
}.i14pro-indro button{
    width: 150px;
    height: 30px;
    border-radius: 20px;
    color: rgb(110, 110, 113);
    border: 2px solid rgb(110, 110, 113);
    background-color: #000;
}.iphone-14{
    width: 100%;
    height: 100vh;
    background: #ffffff;
    padding-bottom: 0px;
}.iphone-14-indro{
    padding-top: 23px;
    text-align: center;
}.iphone-14-indro h1{
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}.iphone-14-indro h2{
    margin-top: -30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 10px;
}.iphone-14-indro button{
    width: 150px;
    height: 33px;
    border-radius: 20px;
    color: rgb(110, 110, 113);
    border: 2px solid rgb(110, 110, 113);
    background-color: #ffffff;
}.ip-14-lern-more {
    margin-top: 10px;
}.ip-14-lern-more > a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-decoration: none;
    color: #5759ea;
}.ip-14-lern-more .learn-spc{
    margin-right: 30px;
}.lefthand-righthand img{
    width: 32%;
    height: 100%;
    object-fit: cover;
}.product-boxes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    background:#ffffff;
}.BOXES{
    margin: 0;
    width: 48%;
    height: 700px;
    background: #000;
    margin-bottom: 10px;
    margin-right: 6px;
    margin-left: 6px;
}.macinfo{
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    text-align: center;
    color: #fff;
}.macinfo h1{    
    font-size: 40px;   
}.macinfo h2{
    margin-top: -20px;
    font-weight: 400;
    font-size: 23px;
    margin-bottom: 10px;
}.macinfo a{
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}.a-boxspc1{
    margin-right: 30px;
}.macinfo img{
    margin-top: 30px;
    width: 100%;
    height: 100%;   
}.ipadBOXES{
    margin: 0;
    width: 48%;
    height: 700px;
    background: #ffffff;
    margin-bottom: 10px;
    margin-right: 6px;
    margin-left: 6px;
}.ipadBOXES .macinfo{
    color: #000;
}.ipadBOXES .macinfo img{
    height: 500px;
    width: 100%;
}.giftBOXES {
    margin: 0;
    width: 48%;
    height: 700px;
    background: #ffffff;
    margin-bottom: 10px;
    margin-right: 6px;
    margin-left: 6px;    
}.giftBOXES .macinfo img{
    width: 100%;
    height: 100%;
}.giftBOXES .macinfo{
    color: #000;
}.imove{
    width: 100%;
    height: 100vh;
    background: #ffffff;
}.offwhte{
    background: #e4e0e0;
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 50px;
}.offwhte img{
    width: 100%;
    height: 100%;
    transition: 500ms;
    filter: brightness(100%);
}.offwhte :hover{
    cursor: pointer;
    opacity: 60%;
}.offwhte img :hover{
    cursor: pointer;
    opacity: 60%;
}.footer{
    background: gainsboro;
    width: 100%;
    padding-top: 20px;

}.footer  .ftr-details{
    width: 65%;
    margin: auto;
    font-size: 11px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #6e6e73;
}.ftr-provides{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.8;
}.ftr-provides .ftr ul {
    list-style: none;
    margin-right: 65px;

}
.ftr-provides .ftr ul li{
    margin-left: -40px;
}

@media(min-width: 779px) and (max-width: 992px){
    .add-text{
       display: flex;
       flex-wrap: nowrap;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    } 
    .add-text > h1{
       font-size: 80px;
       margin-bottom: 90px;

    } 
    .i14pro-indro h1{
        margin-top: 0px;
    } 
}@media(max-width: 778px){
    .add-text{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     } 
     .add-text > h1{
        font-size: 60px;
        margin-bottom: 90px;
 
     } 
     .add-text .phn{
        display: flex;
     }
     .i14pro-indro h1{
         margin-top: -170px;
         font-size: 40px;
     }
     .iphon14pro-indro img{
        height: 67%;
        width: 75%;
        margin-top: 214px;
     }
      
}@media(max-width: 599px){
    .BOXES {
        width: 78%;
        height: 444px;
        margin-top: 40px;
        margin-bottom: 0px;   
    }
    .ipadBOXES{
        width: 78%;
        height: 100%;
    }
    .giftBOXES{
        width: 78%;
        height: 100%;
    }
    .lefthand-righthand img{
        width: 49%;

    }
}


@media(max-width: 997px){
    .hdr-cvr{
        display: flex;
        align-items: center;
    }.hdr-cvr .responce-phn1{
        position: fixed;
        display: block;
        z-index: 9;
        margin-left: 8px;
    }header{
        display: flex;
        justify-content: flex-end;
    }.responce-phn{
        margin-right: 50px;

    }header ul a{
        display: none;
    }header > ul{
        position: fixed ;
        display: block;
        width: 100vw;
        top: 48px; 
        left: -150%;
        height: 80%;
        text-align: inherit;
        background: #000;
        transition: all 800ms;

    }header > ul > li{
        margin-top: 40px;
        margin-bottom: -20px;
        font-size: 18px;
        font-weight: 700;
    }header #check{
        display: block;
    }header label{
        display: block;
        color: #ffffff;
        font-size: 18px;
        margin-right: 18px;

    }#check:checked ~ ul{
        left: 0%;
    }#check:checked ~ label i::before{
        content: '\f057';
    }header #check{
        display: none;
    }.responce-phn{
        display: block;

    }.responce-phn img{
        width: 20px ;
    }.responce-phn1 img{
        
        width: 20px;
    }



    
}